doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

	script(src='/javascripts/knockout-3.4.1.js')
	script(src='/javascripts/jquery.js')
	script(src='/javascripts/bootstrap.min.js')
	block scripts